In [43]:
import pandas as pd
from collections import Counter

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [44]:
# Import health dataset
pop_data = pd.read_csv('../raw_data/Health_Data.csv')

pop_data.drop(columns=['Series Name', 'Series Code'], inplace=True)
pop_data.dropna(axis=0, how='any', inplace=True)

for col in pop_data.columns[2:]:
    splitColumnName = col.split()[0]
    pop_data.rename(columns = {col:splitColumnName}, inplace = True)
    pop_data[splitColumnName] = pd.to_numeric(pop_data[splitColumnName], errors='coerce')

for col in pop_data.columns[:2]:
    pop_data = pop_data.astype({col: 'string'})

pop_data.head()

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AFG,12412311.0,13299016.0,14485543.0,15816601.0,17075728.0,18110662.0,18853444.0,19357126.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
1,Albania,ALB,3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,3148281.0,...,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0
2,Algeria,DZA,25758872.0,26400468.0,27028330.0,27635517.0,28213777.0,28757788.0,29266415.0,29742980.0,...,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,43851043.0,44616626.0
3,American Samoa,ASM,47351.0,48682.0,49900.0,51025.0,52099.0,53158.0,54209.0,55227.0,...,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,55197.0,55103.0
4,Andorra,AND,54508.0,56666.0,58882.0,60974.0,62676.0,63860.0,64363.0,64318.0,...,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0,77354.0

In [45]:
# List of columns to use
cols = ['Entity',
'Code',
'Year',
'Age Group',
'Acute hepatitis',
'Cardiovascular diseases',
'Chronic kidney disease',
'Cirrhosis and other chronic liver diseases',
'Diabetes mellitus',
'Diarrheal diseases',
'Digestive diseases',
'Drowning',
'Environmental heat and cold exposure',
'Exposure to forces of nature',
'Fire, heat, and hot substances',
'HIV/AIDS',
'Interpersonal violence',
'Lower respiratory infections',
'Malaria',
'Neoplasms',
'Nutritional deficiencies',
'Parkinsons disease',
'Road injuries',
'Self',
'Tuberculosis']

In [46]:
# Import input dataset, add Age Group column, and clean header names
df_under5 = pd.read_csv('../raw_data/causes-of-death-in-children-under-5.csv')
df_under5['Age Group'] = 'Under 5'

df_under5.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_under5.columns.values]
df_under5 = df_under5[df_under5.columns.intersection(cols)]
df_under5['Parkinsons disease'] = df_under5.get('Parkinsons disease', 0) 
df_under5['Self'] = df_under5.get('Self', 0) 

df_under5.columns = df_under5.columns.str.replace(" ", "_")
df_under5['Age_Group'] = pd.Series(df_under5['Age_Group'], dtype='string')
df_under5['Entity'] = pd.Series(df_under5['Entity'], dtype='string') 
df_under5['Code'] = pd.Series(df_under5['Code'], dtype='string')

column_to_move = df_under5.pop('Age_Group')
df_under5.insert(3, 'Age_Group', column_to_move)
df_under5.head()

,Entity,Code,Year,Age_Group,Interpersonal_violence,Nutritional_deficiencies,Acute_hepatitis,Neoplasms,Digestive_diseases,Cirrhosis_and_other_chronic_liver_diseases,...,Diabetes_mellitus,Diarrheal_diseases,"Fire,_heat,_and_hot_substances",Road_injuries,Tuberculosis,HIV/AIDS,Drowning,Malaria,Parkinsons_disease,Self
0,Afghanistan,AFG,1990,Under 5,105,1779,718,431,477,182,...,29,3968,131,802,808,10,776,21,0,0
1,Afghanistan,AFG,1991,Under 5,130,1822,741,439,495,181,...,32,4650,129,781,800,12,748,41,0,0
2,Afghanistan,AFG,1992,Under 5,155,2069,836,486,554,192,...,37,5833,137,821,863,13,777,51,0,0
3,Afghanistan,AFG,1993,Under 5,178,2427,970,549,630,216,...,42,7800,155,923,979,16,872,24,0,0
4,Afghanistan,AFG,1994,Under 5,194,2649,1063,589,681,238,...,43,7894,170,1015,1064,19,961,52,0,0

In [47]:
# Import input dataset, add Age Group column, and clean header names
df_5to14 = pd.read_csv('../raw_data/causes-of-death-in-5-14-year-olds.csv')
df_5to14['Age Group'] = '5-14'

df_5to14.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_5to14.columns.values]
df_5to14 = df_5to14[df_5to14.columns.intersection(cols)]
df_5to14['Parkinsons disease'] = df_5to14.get('Parkinsons disease', 0) 
df_5to14['Self'] = df_5to14.get('Self', 0) 

df_5to14.columns = df_5to14.columns.str.replace(" ", "_")
df_5to14['Age_Group'] = pd.Series(df_5to14['Age_Group'], dtype='string')
df_5to14['Entity'] = pd.Series(df_5to14['Entity'], dtype='string') 
df_5to14['Code'] = pd.Series(df_5to14['Code'], dtype='string') 

column_to_move = df_5to14.pop('Age_Group')
df_5to14.insert(3, 'Age_Group', column_to_move)

df_5to14.head()

,Entity,Code,Year,Age_Group,Self,Interpersonal_violence,Drowning,Malaria,"Fire,_heat,_and_hot_substances",Neoplasms,...,Nutritional_deficiencies,Diabetes_mellitus,Exposure_to_forces_of_nature,Environmental_heat_and_cold_exposure,Diarrheal_diseases,Road_injuries,Tuberculosis,HIV/AIDS,Acute_hepatitis,Parkinsons_disease
0,Afghanistan,AFG,1990,5-14,12,65,290,3,27,278,...,103,11,0,2,27,511,160,0,103,0
1,Afghanistan,AFG,1991,5-14,12,80,311,6,30,299,...,111,12,277,2,30,552,170,0,112,0
2,Afghanistan,AFG,1992,5-14,14,88,356,8,34,341,...,128,14,120,1,34,633,191,0,129,0
3,Afghanistan,AFG,1993,5-14,15,97,393,3,38,373,...,142,15,42,1,60,695,205,1,143,0
4,Afghanistan,AFG,1994,5-14,15,105,410,7,39,385,...,150,16,29,1,42,721,209,1,150,0

In [48]:
# Import input dataset, add Age Group column, and clean header names
df_15to49 = pd.read_csv('../raw_data/causes-of-death-in-15-49-year-olds.csv')
df_15to49['Age Group'] = '15-49'

df_15to49.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_15to49.columns.values]
df_15to49 = df_15to49[df_15to49.columns.intersection(cols)]
df_15to49['Parkinsons disease'] = df_15to49.get('Parkinsons disease', 0) 
df_15to49['Self'] = df_15to49.get('Self', 0) 

df_15to49.columns = df_15to49.columns.str.replace(" ", "_")
df_15to49['Age_Group'] = pd.Series(df_15to49['Age_Group'], dtype='string')
df_15to49['Entity'] = pd.Series(df_15to49['Entity'], dtype='string') 
df_15to49['Code'] = pd.Series(df_15to49['Code'], dtype='string') 

column_to_move = df_15to49.pop('Age_Group')
df_15to49.insert(3, 'Age_Group', column_to_move)

df_15to49.head()

,Entity,Code,Year,Age_Group,Self,Interpersonal_violence,Drowning,Malaria,"Fire,_heat,_and_hot_substances",Neoplasms,...,Lower_respiratory_infections,Diabetes_mellitus,Exposure_to_forces_of_nature,Environmental_heat_and_cold_exposure,Diarrheal_diseases,Road_injuries,Tuberculosis,HIV/AIDS,Acute_hepatitis,Parkinsons_disease
0,Afghanistan,AFG,1990,15-49,482,1126,234,46,86,2078,...,488,239,0,73,42,2033,1208,15,553,0
1,Afghanistan,AFG,1991,15-49,535,1510,262,94,94,2183,...,529,247,543,52,46,2317,1289,19,595,0
2,Afghanistan,AFG,1992,15-49,634,1782,311,125,109,2386,...,604,265,266,27,54,2814,1446,24,671,0
3,Afghanistan,AFG,1993,15-49,716,2038,350,58,121,2544,...,665,280,103,31,77,3204,1575,28,737,0
4,Afghanistan,AFG,1994,15-49,759,2260,365,110,126,2615,...,695,288,73,33,64,3385,1653,32,776,0

In [65]:
# Import input dataset, add Age Group column, and clean header names
df_50to69 = pd.read_csv('../raw_data/causes-of-death-in-50-69-year-olds.csv')
df_50to69['Age Group'] = '50-69'

df_50to69.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_50to69.columns.values]
df_50to69 = df_50to69[df_50to69.columns.intersection(cols)]
df_50to69['Parkinsons disease'] = df_50to69.get('Parkinsons disease', 0) 
df_50to69['Self'] = df_50to69.get('Self', 0) 

df_50to69.columns = df_50to69.columns.str.replace(" ", "_")
df_50to69['Age_Group'] = pd.Series(df_50to69['Age_Group'], dtype='string')
df_50to69['Entity'] = pd.Series(df_50to69['Entity'], dtype='string') 
df_50to69['Code'] = pd.Series(df_50to69['Code'], dtype='string') 

column_to_move = df_50to69.pop('Age_Group')
df_50to69.insert(3, 'Age_Group', column_to_move)

df_50to69.dropna(how='any', inplace=True)
df_50to69.head()

,Entity,Code,Year,Age_Group,Self,Interpersonal_violence,Cardiovascular_diseases,Nutritional_deficiencies,Lower_respiratory_infections,Exposure_to_forces_of_nature,...,HIV/AIDS,Acute_hepatitis,Malaria,"Fire,_heat,_and_hot_substances",Neoplasms,Digestive_diseases,Cirrhosis_and_other_chronic_liver_diseases,Chronic_kidney_disease,Diabetes_mellitus,Parkinsons_disease
0,Afghanistan,AFG,1990,50-69,167,208,20666,49,932,0,...,7,1232,19,54,5446,1992,1233,1534,1100,0
1,Afghanistan,AFG,1991,50-69,168,242,20840,50,941,241,...,8,1255,38,55,5493,2012,1247,1527,1100,0
2,Afghanistan,AFG,1992,50-69,171,235,21174,52,956,96,...,9,1287,44,56,5577,2043,1268,1521,1107,0
3,Afghanistan,AFG,1993,50-69,176,237,21699,55,979,31,...,10,1333,17,57,5679,2082,1293,1529,1122,0
4,Afghanistan,AFG,1994,50-69,180,249,22273,58,1003,21,...,11,1385,33,58,5771,2121,1315,1545,1140,0

In [ ]:
# Import input dataset, add Age Group column, and clean header names
df_70 = pd.read_csv('../raw_data/causes-of-death-in-70-year-olds.csv')
df_70['Age Group'] = '70'

df_70.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_70.columns.values]
df_70 = df_70[df_70.columns.intersection(cols)]
df_70['Parkinsons disease'] = df_70.get('Parkinsons disease', 0) 
df_70['Self'] = df_70.get('Self', 0) 

df_70.columns = df_70.columns.str.replace(" ", "_")
df_70['Age_Group'] = pd.Series(df_70['Age_Group'], dtype='string')
df_70['Entity'] = pd.Series(df_70['Entity'], dtype='string') 
df_70['Code'] = pd.Series(df_70['Code'], dtype='string') 


column_to_move = df_70.pop('Age_Group')
df_70.insert(3, 'Age_Group', column_to_move)

df_70.head()

,Entity,Code,Year,Age_Group,Self,Interpersonal_violence,Exposure_to_forces_of_nature,Drowning,Environmental_heat_and_cold_exposure,Diarrheal_diseases,...,Chronic_kidney_disease,Neoplasms,Digestive_diseases,Cirrhosis_and_other_chronic_liver_diseases,Cardiovascular_diseases,Nutritional_deficiencies,Lower_respiratory_infections,Diabetes_mellitus,Acute_hepatitis,Parkinsons_disease
0,Afghanistan,AFG,1990,70,35,33,0,14,20,140,...,1456,3346,1686,772,18600,21,1559,730,378,0
1,Afghanistan,AFG,1991,70,35,39,101,14,12,142,...,1456,3382,1711,785,18820,22,1576,729,389,0
2,Afghanistan,AFG,1992,70,36,38,40,14,2,142,...,1450,3427,1738,800,19109,23,1595,730,401,0
3,Afghanistan,AFG,1993,70,37,39,13,15,2,162,...,1460,3489,1776,819,19565,24,1628,736,419,0
4,Afghanistan,AFG,1994,70,38,41,9,15,2,151,...,1481,3554,1819,838,20084,25,1668,744,441,0

In [ ]:
# Upload dataframes to database to be joined

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Capstone_DB"
engine = create_engine(db_string)

df_under5.to_sql(name='cod_under5', con=engine, if_exists='replace')
df_5to14.to_sql(name='cod_5to14', con=engine, if_exists='replace')
df_15to49.to_sql(name='cod_15to49', con=engine, if_exists='replace')
df_50to69.to_sql(name='cod_50to69', con=engine, if_exists='replace')
df_70.to_sql(name='cod_70', con=engine, if_exists='replace')

pop_data.to_sql(name='health_data', con=engine, if_exists='replace')

OperationalError: (psycopg2.OperationalError) connection to server at "127.0.0.1", port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/14/e3q8)